doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Yvvs

		meta(name='title', content='Yvvs portfolio | Yvo van Oosterum')
		meta(name='description', content='Yvo is a concept developer, UX & UI designer and web developer living in Amsterdam. On the portfolio you can find some of his projects.')
		meta(name='keywords', content='One Caring World Famine Africa Donation ')

		meta(property='og:url', content='http://www.yvvs.nl')
		meta(property='og:type', content='website')
		meta(property='og:title', content='Yvvs portfolio | Yvo van Oosterum')
		meta(property='og:description', content='Yvo is a concept developer, UX & UI designer and web developer living in Amsterdam. On the portfolio you can find some of his projects.')
		meta(property='og:image', content='http://www.yvvs.nl/images/share.png')
		
		meta(name='twitter:card', content='summary')
		meta(name='twitter:title', content='Yvvs portfolio | Yvo van Oosterum')
		meta(name='twitter:url', content='http://www.yvvs.nl')
		meta(name='twitter:description', content="Yvo is a concept developer, UX & UI designer and web developer living in Amsterdam. On the portfolio you can find some of his projects.")
		meta(name='twitter:image', content='http://www.yvvs.nl/images/share.png')

		link(rel='icon', href='/images/icon.png')

		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
		link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,800', rel='stylesheet')
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/css/open.css')
		link(rel='stylesheet', href='/css/font-awesome/css/font-awesome.min.css')

		script(src='/js/typed.js')
		script.
			document.addEventListener('DOMContentLoaded', function(){
			setTimeout(function() {
			Typed.new('.element', {
			strings: ["Concept developer,", "UX/UI designer,", "Web developer,", "Awesome dude!"],
			typeSpeed: 0
			});
			}, 2500);
			});
	
	body
		.container-fluid#banner
			.row
				.hidden-xs
					ul.head.fly-in-text1.hidden1
						li Y
						li V
						li V
						li S
				.visible-xs
					h1 YVVS
				.col-sm-4.col-sm-offset-4
					.element
						span.typed-cursor

		.container-fluid#buttons
			button#toplft
				i.fa.fa-arrow-up.fa-1x(aria-hidden='true')
			button#toprgt
				i.fa.fa-envelope.fa-1x(aria-hidden='true')
			button#toprgt2
				i.fa.fa-times.fa-1x(aria-hidden='true')
			button#btmmdl
				i.fa.fa-arrow-down.fa-1x(aria-hidden='true')    

		.container-fluid#contact
			.row
				.col-sm-6.col-sm-offset-3
					h3 CONTACT
					form(method='post')
						.col-sm-4
							input(type='text' class='form-control' name='name' placeholder='Name')
						.col-sm-4
							input(type='text' class='form-control' name='email' placeholder='Email') 
						.col-sm-4
							input(type='text' class='form-control' name='subject' placeholder='Subject')
						.col-sm-12
							textarea(type='text' class='message' name='message' placeholder='Message')
						.col-sm-12
							input(type='submit' value='submit' class='submit' name='submit')

		.container-fluid#about
			.row.pad
				h3 ABOUT A BOY
				.col-xs-12.info
					.col-sm-4.col-sm-offset-2
						p 
							| Hee hello there! It's so nice to see you here! My name is Yvo and i'm 
							| a concept developer, UX &amp UI designer and web developer
							| living in Amsterdam. 
							BR
							| I like to develop new concepts for (digital) products and work these out
							| into proffesional prototypes or products. My goal at this point is to 
							| create products that improves peoples lives by just making it easier or 
							| offering them a helping hand. 
					.col-sm-4
						p 
							| You can find some of the projects I've been working on at the bottom of 
							| this page. Some of the projects (web projects) have been developed into 
							| working products, while others (phone projects) are still work in progress.
							BR
							| Please feel free to drop me a line if you are interested in one of the 
							| projects, interested in a collaboration or whatever other reason 
							| you might come up with!
				.col-xs-12.skills
					.col-sm-4.col-sm-offset-2
						p Skills!
					.col-sm-4
						p Skills 1234
				.col-xs-12.expo
					.col-sm-4.col-sm-offset-2
						p Expo!
					.col-sm-4
						p Expo 1234
				.aboutbuttons
					button.btn.infobtn About
					button.btn.skillbtn Skills
					button.btn.expobtn Experience
		
		.container-fluid#projects
			.row.select.hidden-xs
				.col-sm-3.project.nr1
					h5.blok EEV
				.col-sm-3.project.nr2
					h5.blok NEXT
				.col-sm-3.project.nr3
					h5.blok ONE CARING WORLD
				.col-sm-3.project.nr4
					h5.blok PARKIT
			.row.mobile.visible-xs
				.col-xs-12.mobileproject.mobile1.nr1
					h5.blok EEV
				.col-xs-12.mobileproject.mobile2.nr2
					h5.blok NEXT
				.col-xs-12.mobileproject.mobile3.nr3
					h5.blok ONE CARING WORLD
				.col-xs-12.mobileproject.mobile4.nr4
					h5.blok PARKIT
			.row.projectinfo
				.col-sm-12.project1
					h3 EEV
					p.tags Concept Development, UX/UI-design, Prototyping
					.row.content
						.col-sm-4.col-sm-offset-2
							p 
							| Eev is a calendar app with all the functionalities a calendar app should have.
							| It breaks down the rigid walls of standard calendar applications and extend
							| them with a world of local events happening around you. This way your calendar
							| will not only help you to remind planned events, but also helps you find
							| new things to do when you have some spare time!
						.col-sm-4
							p 
							| It also intergrates your address book into your calendar for a more social 
							| experience. After all, a lot of events take place with friends, families or collegues!
							| That is why the app makes it ridiculously easy to share events with
							| your social groups, keep track of attendance, plan a date to do stuff or 
							| 
						.col-sm-8.col-sm-offset-2
							p.bold 
							| This project is still work in progress. If you are interested in 
							| developing this project, investing in this project or simply just interested,
							| feel free to contact me!
					.row.content2
						.col-sm-3
							img(src="/images/EEV/maand.png" class="img-responsive phone")
						.col-sm-3
							img(src="/images/EEV/event.png" class="img-responsive phone")
						.col-sm-3 
							img(src="/images/EEV/attendance.png" class="img-responsive phone")
						.col-sm-3
							img(src="/images/EEV/do.png" class="img-responsive phone")  
				.col-sm-12.project2
					h3 NEXT
					p.tags Concept Development, UX/UI-design, Prototyping
					.row.content
						.col-sm-4.col-sm-offset-2
							p 
							| In the Netherlands 1 out of 3 students quits their studies in the
							| first education year. Because of this a lot of time, money and qualities 
							| gets wasted. The reason for this, is that high school students do not realize 
							| which choice they have to make and therefor most of them do not spend enough
							| time collecting information about studies, see only a few studies and make a hasty
							| choice in the end when the deadline approaches. 
						.col-sm-4
							p 
							| Next is a concept that helps high school students to make a more
							| aware choice for an education. To do this it uses game- and social elements
							| to motivate the students to put a lot more time and effort into their study choice.
							| Besides that it guides students through a clear pad with easy assignments and
							| keeps track of all the students activities.
						.col-sm-8.col-sm-offset-2
							p.bold 
							| This project is still work in progress. If you are interested in 
							| developing this project, investing in this project or simply just interested,
							| feel free to contact me!
					.row.content2
						.col-sm-3
							img(src="/images/NEXT/games1.png" class="img-responsive phone")
						.col-sm-3
							img(src="/images/NEXT/tinder.png" class="img-responsive phone")
						.col-sm-3 
							img(src="/images/NEXT/badge.png" class="img-responsive phone")
						.col-sm-3
							img(src="/images/NEXT/studietop.png" class="img-responsive phone")
				.col-sm-12.project3
					h3 ONE CARING WORLD
					p.tags Concept Development, UX/UI-design, Web Development
					.row.content
						.col-sm-4.col-sm-offset-2
							p 
							| One caring world is a website that collects money for charity. 
							| It does this by adding a game element to collecting the money: 
							| Someone can make a donation of €10 on behalve of their country. 
							| The goal is to be the first country with a million people to 
							| donate €10. Once this goal is reached the country will go into 
							| the history books as most carign country of the wolrd! 
						.col-sm-4
							p 
							| The idea behind it is to create a hype in which people are being triggered
							| to donate money to charity. This way more people will make a donation and
							| the charity will get more attention. The website can be seen on 
							a(href="https://www.onecaring.world" target="_blank") onecaring.world.
					.row.content2
						.col-sm-6
							img(src="/images/OCW/ocw1.png" class="img-responsive phone")
						.col-sm-6
							img(src="/images/OCW/ocw2.png" class="img-responsive phone")
				.col-sm-12.project4
					h3 Park it
					p.tags UX/UI-design, Web development
					.row.content
						.col-sm-4.col-sm-offset-2
							p 
							| Park-it is a webplatform for business areas with large parking lots who wants
							| to have their parking system automated. It makes it easy for employees to 
							| register and deregister cars for themselve or for a customer who is visiting.
						.col-sm-12.col-sm-4
							p 
							| The car will then be stored in a database of the parking guard so he can check
							| whether the car is allowed to park there or not. The website can be seen on 
							a(href="http://www.parkit.nl" target="_blank") parkit.nl
							| . However, without sign in credentials there is not much to see here. 
							| But feel free to watch the images below.
					.row.content2
						.col-sm-6
							img(src="/images/PARKIT/admin.png" class="img-responsive phone")
						.col-sm-6
							img(src="/images/PARKIT/gebruiker.png" class="img-responsive phone")
						.col-sm-6
							img(src="/images/PARKIT/beheerder.png" class="img-responsive phone")
						.col-sm-6
							img(src="/images/PARKIT/toezichthouder2.png" class="img-responsive phone")
		
		.container-fluid#php
			p. 
				<?php               
				if(isset($_POST['submit'])) {
					$to = "contact@yvvs.nl";
					$from = $_POST['email'];
					$name = $_POST['name'];                      
					$subject = $_POST['subject'];

					$message = $name . " " . $subject . " " .$from . " wrote the following:" . "\n\n" . $_POST['message'];
					$message2 = "Here is a copy of your message " . $name . "\n\n" . $_POST['message'];

					$headers = "From:" . $from;
					$headers2 = "From:" . $to;
					mail($to,$message,$headers);
					mail($from,$message2,$headers2); // sends a copy of the message to the sender
					echo "Mail Sent. Thank you " . $name . ", I will contact you shortly.";
					// You can also use header('Location: thank_you.php'); to redirect to another page.
				}                
				?>
		   
					  
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
	script(src='/js/app.js')
